.jumbotron {
    padding-top: 6rem;
    background-color: #d0e0fc;
}

#education {
    background-color: #d0e0fc;
}

#experience {
    background-color: #ffffff;
}

#project {
    background-color: #d0e0fc;
}

#certificate {
    background-color: #ffffff;
}

#contact {
    background-color: #d0e0fc;
}

section {
    padding-top: 5rem;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font: bold;
}